@import url('./theme/theme.css');
@import url('./theme/main.css');

:root {
  --ui-page-content-padding-left: calc(var(--ui-sys-unit) * 56);
  --ui-page-content-padding-right: calc(var(--ui-sys-unit) * 56);
  --ui-page-content-padding-top: calc(var(--ui-sys-unit) * 32);
  --ui-page-content-padding-bottom: calc(var(--ui-sys-unit) * 32);

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 600px) {
  :root {
    --ui-page-content-padding-left: calc(var(--ui-sys-unit) * 32);
    --ui-page-content-padding-right: calc(var(--ui-sys-unit) * 32);
  }
}
