@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

:root {
  --background-color-gray: #eaeaea;
  --font-family-primary: 'Lato', sans-serif;
  --offset-md: 24px;
  --color-primary: hsl(231, 48%, 48%);
  --color--on-primary: hsl(0, 0%, 20%);
}

html {
  color: var(--color--on-primary);
}

body {
  background-color: var(--background-color-gray);
  font-family: var(--font-family-primary);
  margin: 0;
  padding: 24px;
  box-sizing: border-box;
}

main {
  background-color: white;
  padding: 24px;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 78rem;
  display: flex;
}

nav {
  padding: 16px;
  display: flex;
}

nav a {
  padding: 16px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  color: var(--color--on-primary);
}

[a-cloak] {
  display: none;
}

h1 {
  margin: 0;
}

.row {
  display: flex;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.r-link {
  position: relative;
}

.r-link-active {
  color: var(--color-primary);
}

.r-link-active::after {
  content: '';
  display: block;
  bottom: 0;
  position: absolute;
  height: 2px;
  background-color: var(--color-primary);
  width: 100%;
}
